body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5d7b5;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
  overflow: hidden;
}

canvas {
  background-color: black;
  display: block;
}
h1 {
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  font-size: 66px;
  letter-spacing: 3px;
}

.d-none {
  display: none !important;
}

.startscreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
/* Regel für Desktop-Geräte */
.start-container {
  position: relative;
}

.start-img {
  max-width: 720px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.rotate {
  transform: rotate(45deg);
}

.startimg {
  margin-bottom: 16px;
  width: 100%;
}
.hide-mobile-portrait{
  display:none;
}

.information-overlay-duringGame{
  position:absolute;
}

.mobile-portrait {
  display: none;
  margin: 10px;
}
.mobile-portrait-info{
  position:absolute;
  text-align: center;
}

.info:hover {
  background-color: rgba(250, 201, 30, 0.6);
  cursor: pointer;
}

.info-duringGame:hover {
  background-color: rgba(250, 201, 30, 0.6);
  cursor: pointer;
}

.information-overlay {
  margin: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.info-text {
}
.key {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 50, 50);
}

.key-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.key-beside {
  display: flex;
  gap: 20px;
}
.arrowkeys {
  height: 130px !important;
}
.key-d {
  height: 40px;
  width: 40px;
}

.btn-d {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  border: 5px solid rgb(51, 50, 50);
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  background-color: transparent;
  color: rgb(51, 50, 50);
  align-content: center;
  cursor: unset;
}

.control-game {
  margin-top: 20px;
  width: 80%;
}

.control-align {
  text-align: center;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key-play {
  margin-right: 5px;
  display: flex;
  color: rgb(51, 50, 50);
}

.key-img {
  margin-left: 8px;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.space-img {
  margin-left: 8px;
  height: 50px;
  padding: 10px;
}

.keyboard {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 20px;
}

.keyboard span {
  font-size: 16px;
  padding: 5px;
}

.controls {
  height: 50px;
  margin: 8px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.refresh-btn {
  height: 35px;
  cursor: pointer;
}

.countdown {
  position: absolute;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  font-size: 70px;
  letter-spacing: 3px;
}

.pause {
  height: 45px;
  cursor: pointer;
}

.mute {
  height: 45 px;
  cursor: pointer;
}

.fullscreen {
  height: 35px;
  cursor: pointer;
}

.btn {
  border-radius: 10px;
  margin: 24px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid rgb(51, 50, 50);
  background-color: rgba(250, 201, 30, 0.6);
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Zabars', Arial, Helvetica, sans-serif;
  color: rgb(51, 50, 50);
  position: absolute;
  top: 20px;
  left: 20px;
}

.btn:hover {
  background-color: #fac91e;
  cursor: pointer;
}

.info {
  box-sizing: border-box;
  position: absolute;
  box-sizing: border-box;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 25%;
}

.info-duringGame {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 25%;
}

.opacity {
  opacity: 0.5;
}

.opacity-duringGame{
  opacity: 0.2;
}

.close-duringGame{
  top:-40px !important;
}

.info-duringGame-key{
  display:flex;
  justify-content: space-evenly;;
  flex-direction: unset !important;
}

.z-index {
  z-index: 99;
}

button {
  font-size: large;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border-radius: 100%;
  padding: 6px 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.btn-mobile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid black;
  padding: 1px;
  padding: 5px;
  box-sizing: border-box;
}

.canvas-div {
  position: relative;
}

.btn-leftSide {
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.btn-rightSide {
  position: absolute;
  bottom: 5px;
  right: 30px;
}

#left-btn {
  margin-right: 10px;
}

#up-btn {
  margin-right: 10px;
}

.mobile-hide {
  display: none;
}

@media only screen and (max-width: 750px) {
  canvas {
    width: 100%;
  }

  .refresh-btn {
    height: 30px;
  }

  .info-duringGame {
    height: 40px;
    width: 40px;
  }

  .pause {
    height: 30px;
  }

  .mute {
    height: 30px;
  }

  .fullscreen {
    height: 30px;
  }
}

@media only screen and (max-width: 630px) {
  .keyboard {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    font-size: 16px;
    top: -10px;
  }

  .btn-d {
    height: 30px;
    width: 30px;
    font-size: 18px;
    border-width: 3px;
  }

  .space-img {
    height: 30px;
    width: 50px;
  }

  .refresh-btn {
    height: 20px;
  }
  .info-duringGame {
    height: 30px;
    width: 30px;
  }

  .pause {
    height: 20px;
  }

  .mute {
    height: 20px;
  }

  .fullscreen {
    height: 20px;
  }

  .startscreen h1 {
    font-size: 24px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

/* Mobile Buttons */

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .mobile-hide {
    display: unset;
  }
}

@media (max-height: 600px) {
  .mobile-hide {
    display: unset;
  }
}

/* Regel für Tablets im Portrait Modus */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .mobile-portrait {
    display: block;
  }

  .won {
    z-index: 5;
    left: 25%;
  }
  .btn-restart {
    top: 100%;
    left: 75px;
  }
  .btn-restart-lost {
    top: 100%;
    left: 75px;
  }
}

/* Regel für Smartphones im Portrait Modus */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .mobile-portrait {
    display: block;
  }
  .fullscreen {
    display: none;
  }
}

@media only screen and (max-width: 820px) and (orientation: portrait) {
  .mobile-portrait {
    display: block;
  }
  .fullscreen {
    display: none;
  }
}

/* Surface Pro 7, Nesthub and Nesthub mx*/
@media only screen and ((device-width: 1368px) or (device-width:1280px)) and (orientation: landscape) {
  .mobile-hide {
    display: unset;
  }
}

@media only screen and (orientation: landscape) {
  .information-overlay {
    margin: 10px;
    font-size: px;
  }

  .won {
    height: 0px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }

  .btn-restart {
    top: 43%;
    left: -4px;
  }
}

/* Regel für größere Geräte im Landscape-Modus  ua. ipad air and mini*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
}

/* Regel für Iphone SE*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .btn-restart {
    top: 161px;
    left: -4px;
  }
  .fullscreen {
    display: none;
  }
  .start-img {
    height: 101%;
  }
}

/* Regel für Tablets im Landscape-Modus */
@media only screen and (max-device-width: 768px) and (orientation: landscape) {
  .fullscreen {
    display: none;
  }
}

/* iphone xR */
@media only screen and ((min-device-width: 414px) and (max-device-width: 896px)) and (orientation: landscape) {
  .btn {
    margin-top: 40px;
  }
  .info {
    margin-top: 40px;
  }
  .key {
    flex-direction: unset;
  }

  .won {
    height: 0px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
  .fullscreen {
    display: none;
  }
}

/* Samsung Galaxy S20 Ultra */
@media only screen and ((min-device-width: 412px) and (max-device-width: 915px)) and (orientation: landscape) {
  .btn {
    margin-top: 47px;
  }
  .info {
    margin-top: 65px;
  }
  .won {
    height: 0px;
    top: 40px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
  .fullscreen {
    display: none;
  }
}

/* iPad Air */
@media only screen and ((min-device-width: 820px) and (max-device-width: 1180px)) and (orientation: landscape) {
  .won {
    left: 32%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
  .fullscreen {
    display: none;
  }
  .mobile-hide {
    display: unset;
  }
}

/* Surface Duo */
@media only screen and ((min-device-width: 540px) and (max-device-width: 720px)) and (orientation: landscape) {
  .btn {
    margin-top: 20px;
  }
  .info {
    margin-top: 20px;
  }
  .won {
    height: 0px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
  .fullscreen {
    display: none;
  }
  .mobile-hide {
    display: unset;
  }
}

/* Regel für Tablets im Portrait Modus */

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .mobile-portrait {
    display: block;
  }
  .won {
    z-index: 5;
    left: 25%;
  }
  .btn-restart {
    top: 100%;
    left: 75px;
  }
  .btn-restart-lost {
    top: 100%;
    left: 75px;
  }
}

/* Regel für Smartphones im Portrait Modus */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .mobile-portrait {
    display: block;
  }
}

@media only screen and (max-width: 820px) and (orientation: portrait) {
  .mobile-portrait {
    display: block;
  }
}

/* Surface Pro 7, Nesthub and Nesthub mx*/
@media only screen and ((device-width: 1368px) or (device-width:1280px)) and (orientation: landscape) {
  .mobile-hide {
    display: unset;
  }
}

@media only screen and (orientation: landscape) {
  .information-overlay {
    margin: 10px;
    font-size: px;
  }

  .won {
    height: 0px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 43%;
    left: -4px;
  }
}

/* Regel für Iphone SE*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .btn-restart {
    top: 161px;
    left: -4px;
  }

  .start-img {
    height: 101%;
  }
}

/* iphone xR */
@media only screen and ((min-device-width: 414px) and (max-device-width: 896px)) and (orientation: landscape) {
  .btn {
    margin-top: 40px;
  }
  .info {
    margin-top: 40px;
  }
  .key {
    flex-direction: unset;
  }
  .won {
    height: 0px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
  .fullscreen {
    display: none;
  }
}

/* Samsung Galaxy S20 Ultra */
@media only screen and ((min-device-width: 412px) and (max-device-width: 915px)) and (orientation: landscape) {
  .btn {
    margin-top: 47px;
  }
  .info {
    margin-top: 65px;
  }
  .won {
    height: 0px;
    top: 40px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
}

/* iPad Air */
@media only screen and ((min-device-width: 820px) and (max-device-width: 1180px)) and (orientation: landscape) {
  .won {
    left: 32%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }

  .mobile-hide {
    display: unset;
  }
}
/* Surface Duo */
@media only screen and ((min-device-width: 540px) and (max-device-width: 720px)) and (orientation: landscape) {
  .btn {
    margin-top: 20px;
  }
  .info {
    margin-top: 20px;
  }
  .won {
    height: 0px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }

  .mobile-hide {
    display: unset;
  }
}

/* iPhone SE */
@media only screen and ((min-device-width: 375px) and (max-device-width: 667px)) and (orientation: landscape) {
  .btn {
    margin-top: 0px;
  }
  .info {
    margin-top: 0px;
  }
  .information-overlay {
    margin: 10px;
    font-size: 15px;
  }
  .key {
    flex-direction: unset;
  }

  .won {
    top: 10px;
    z-index: 5;
    position: absolute;
    left: 25%;
  }
  .btn-restart {
    top: 156px;
    left: -4px;
  }

  .btn-restart-lost {
    left: 33%;
    top: 272px;
  }
}
/* iphone Galaxy Fold */
@media only screen and ((min-device-width: 280px) and (max-device-width: 653px)) and (orientation: landscape) {
  .btn {
    margin-top: 31px;
    margin-left: 206px;
  }
  .info {
    margin-top: 40px;
  }
  .won {
    z-index: 5;
    position: absolute;
    left: 25%;
    top: 25px;
  }
  .btn-restart {
    top: 110px;
    left: -4px;
  }
  .btn-restart-lost {
    margin-top: 0px !important;
  }
}
